<div class='wrapper'>
  <app-popover class='popover--hide' account='kitadjoka' amount='567.23'></app-popover>
  <header class='header'>
    <div class='header__logo'></div>
  </header>
  <main class='main'>
    <section class='section-small'>
      <div class='section-small__heading'>
        <div class='section-small__icon'></div>
        <h1 class='section-small__text'>Make a Transfer</h1>
      </div>
      <form class='section-small__form'>
        <label for='fromAccount' class='section-small__label'>from account</label>
        <input id='fromAccount' type='text' class='section-small__input'
               placeholder='Free Checking - $5664.67'>
        <label for='toAccount' class='section-small__label'>to account</label>
        <input id='toAccount' type='text' class='section-small__input'
               placeholder='Transfer receiver'>
        <label for='amount' class='section-small__label'>amount</label>
        <input id='amount' type='text' class='section-small__input'
               placeholder='$0.00'>
        <button type='submit' class='section-small__button'>submit</button>
      </form>
    </section>
    <section class='section-large'>
      <div class='section-large__heading'>
        <div class='section-large__icon'></div>
        <h1 class='section-large__text'>Recent Transactions</h1>
      </div>
      <div class='controls'>
        <label class='controls__search-label'>
          <input type='text' class='controls__search-input' placeholder='Search by typing...'>
        </label>
        <p class='controls__sort-text'>Sort by</p>
        <div class='controls__sort-option'>date</div>
        <div class='controls__sort-option'>beneficiary</div>
        <div class='controls__sort-option'>amount</div>
      </div>
      <div class='section-large__transactions'>
        <app-transaction *ngFor='let tran of transactions' [transData]=tran></app-transaction>
        <hr class='section-large__divide'>
      </div>
    </section>
  </main>
</div>
