<div class='wrapper'>
  <app-popover [ngClass]='{"popover--hide": !showPopover}' [parent]='this'
               [amount]='transactionForm.get("amount").value'
               [account]='transactionForm.get("toAccount").value'></app-popover>
  <header class='header'>
    <div class='header__logo'></div>
  </header>
  <main class='main'>
    <section class='section-small'>
      <div class='section-small__heading'>
        <div class='section-small__icon'></div>
        <h1 class='section-small__text'>Make a Transfer</h1>
      </div>
      <form class='section-small__form' [formGroup]='transactionForm' (ngSubmit)='validateForm()' novalidate>
        <label for='fromAccount' class='section-small__form-field'>
          <span class='section-small__label'>from account</span>
          <input id='fromAccount' type='text' class='section-small__input'
                 placeholder='Free Checking - ${{currentBalance}}' disabled>
        </label>
        <label for='toAccount' class='section-small__form-field'>
          <span class='section-small__label'>to account</span>
          <input id='toAccount' type='text' class='section-small__input'
                 placeholder='Transfer receiver' formControlName='toAccount'>
          <span *ngIf='!transactionForm.get("toAccount").valid' class='section-small__error'>{{toAccountError}}</span>
        </label>
        <label for='amount' class='section-small__form-field'>
          <span class='section-small__label'>amount</span>
          <input id='amount' type='text' class='section-small__input'
                 placeholder='$0.00' formControlName='amount'>
          <span *ngIf='!transactionForm.get("amount").valid' class='section-small__error'>{{amountError}}</span>
        </label>
        <button class='section-small__button' type='submit'>submit</button>
      </form>
    </section>
    <section class='section-large'>
      <div class='section-large__heading'>
        <div class='section-large__icon'></div>
        <h1 class='section-large__text'>Recent Transactions</h1>
      </div>
      <div class='controls'>
        <label class='controls__search-label'>
          <input type='text' class='controls__search-input' placeholder='Search by typing...' (input)='applyFilter($event)' [value]='filterCriteria'>
          <span class='controls__cancel-button' *ngIf='filterCriteria.length' (click)='applyFilter(null)'></span>
        </label>
        <div class="controls__sort">
          <p class='controls__sort-text'>Sort by</p>
          <div class='controls__sort-option' (click)='applySort("transactionDate")'
               [ngClass]='{"controls__sort-option--selected-asc": sortCriteria.field === "transactionDate" && sortCriteria.asc,
                           "controls__sort-option--selected-desc": sortCriteria.field === "transactionDate" && !sortCriteria.asc}'>date</div>
          <div class='controls__sort-option' (click)='applySort("merchant")'
               [ngClass]='{"controls__sort-option--selected-asc": sortCriteria.field === "merchant" && sortCriteria.asc,
                           "controls__sort-option--selected-desc": sortCriteria.field === "merchant" && !sortCriteria.asc}'>beneficiary</div>
          <div class='controls__sort-option' (click)='applySort("amount")'
               [ngClass]='{"controls__sort-option--selected-asc": sortCriteria.field === "amount" && sortCriteria.asc,
                           "controls__sort-option--selected-desc": sortCriteria.field === "amount" && !sortCriteria.asc}'>amount</div>
        </div>
      </div>
      <div class='section-large__transactions'>
        <app-transaction *ngFor='let tran of transactionsDisplayed' [transData]=tran></app-transaction>
        <hr class='section-large__divide'>
      </div>
    </section>
  </main>
</div>
